@model List<Fish>;

@{
    Model[0].Name = ViewData["Name"] as string;
    Model[0].Weight = ViewBag.Weight;

    ViewData["Title"] = "DataTransportByModel";
}

<ul>
    @foreach (var fish in Model)
    {
        @: <li>@($"Name: {fish.Name}, Weight: {fish.Weight}, Speed: {fish.Speed}")</li>
    }
</ul>