@model List<Fish>;

@{
    ViewData["Title"] = "ViewWithSeparateLayout";

    Layout = "_NewLayout";
}

<ul>
    @foreach (var fish in Model)
    {
        @: <li>@($"Name: {fish.Name}, Weight: {fish.Weight}, Speed: {fish.Speed}")</li>
    }
</ul>